In [3]:
import pandas as pd
import numpy as np
from datasets import load_dataset

In [4]:
data = load_dataset("batuhanmtl/job-skill-set")

Generating train split: 100%|██████████| 1167/1167 [00:00<00:00, 25284.64 examples/s]

In [6]:
data

DatasetDict({
    train: Dataset({
        features: ['job_id', 'category', 'job_title', 'job_description', 'job_skill_set'],
        num_rows: 1167
    })
})

In [7]:
data = pd.DataFrame(data["train"])

In [8]:
data

,job_id,category,job_title,job_description,job_skill_set
0,3902668440,HR,Sr Human Resource Generalist,SUMMARY\nTHE SR. HR GENERALIST PROVIDES HR EXP...,"['employee relations', 'talent acquisition', '..."
1,3905823748,HR,Human Resources Manager,BE PART OF A STELLAR TEAM AT YSB AS THE MANAGE...,"['Talent Acquisition', 'Employee Performance M..."
2,3905854799,HR,Director of Human Resources,OUR CLIENT IS A THRIVING ORGANIZATION OFFERING...,"['Human Resources Management', 'Recruitment', ..."
3,3905834061,HR,Chief Human Resources Officer,JOB TITLE: CHIEF HUMAN RESOURCES OFFICER (CHRO...,"['talent management', 'organizational developm..."
4,3906250451,HR,Human Resources Generalist (Hybrid Role),DESCRIPTION\n\n WHO WE ARE \n\nAVI-SPL IS A DI...,"['Microsoft Office', 'Data analysis', 'Employe..."
...,...,...,...,...,...
1162,3905299905,BUSINESS-DEVELOPMENT,Intern - Business Development,REQUIREMENTS\n\n DESCRIPTION & REQUIREMENTS \n...,"['MS Office Suite', 'PowerPoint', 'Excel', 're..."
1163,3885829894,BUSINESS-DEVELOPMENT,Business Development Representative,IT'S FUN TO WORK IN A COMPANY WHERE PEOPLE TRU...,"['Collaboration', 'Communication', 'Problem So..."
1164,3901649881,BUSINESS-DEVELOPMENT,Enterprise Business Development Representative...,JOIN OUR DYNAMIC AI TEAM AS AN ENTERPRISE BUSI...,"['Salesforce', 'data analysis', 'lead generati..."
1165,3904049863,BUSINESS-DEVELOPMENT,Senior Director Business Development,ROOM 8 GROUP IS THE WORLD’S FASTEST GROWING ST...,"['business development', 'sales', 'corporate s..."
1166,3904084138,BUSINESS-DEVELOPMENT,Global Business Development Partner - 100% Remote,EXCITING OPPORTUNITY: GLOBAL BUSINESS DEVELOPM...,"['strategic marketing', 'business development'..."

In [ ]:
# data.to_csv("job-skill.csv")

In [11]:
data.head()

,job_id,category,job_title,job_description,job_skill_set
0,3902668440,HR,Sr Human Resource Generalist,SUMMARY\nTHE SR. HR GENERALIST PROVIDES HR EXP...,"['employee relations', 'talent acquisition', '..."
1,3905823748,HR,Human Resources Manager,BE PART OF A STELLAR TEAM AT YSB AS THE MANAGE...,"['Talent Acquisition', 'Employee Performance M..."
2,3905854799,HR,Director of Human Resources,OUR CLIENT IS A THRIVING ORGANIZATION OFFERING...,"['Human Resources Management', 'Recruitment', ..."
3,3905834061,HR,Chief Human Resources Officer,JOB TITLE: CHIEF HUMAN RESOURCES OFFICER (CHRO...,"['talent management', 'organizational developm..."
4,3906250451,HR,Human Resources Generalist (Hybrid Role),DESCRIPTION\n\n WHO WE ARE \n\nAVI-SPL IS A DI...,"['Microsoft Office', 'Data analysis', 'Employe..."

In [14]:
data.drop(columns=["job_id"],inplace=True)

In [19]:
data

,category,job_title,job_description,job_skill_set
0,HR,Sr Human Resource Generalist,SUMMARY\nTHE SR. HR GENERALIST PROVIDES HR EXP...,"['employee relations', 'talent acquisition', '..."
1,HR,Human Resources Manager,BE PART OF A STELLAR TEAM AT YSB AS THE MANAGE...,"['Talent Acquisition', 'Employee Performance M..."
2,HR,Director of Human Resources,OUR CLIENT IS A THRIVING ORGANIZATION OFFERING...,"['Human Resources Management', 'Recruitment', ..."
3,HR,Chief Human Resources Officer,JOB TITLE: CHIEF HUMAN RESOURCES OFFICER (CHRO...,"['talent management', 'organizational developm..."
4,HR,Human Resources Generalist (Hybrid Role),DESCRIPTION\n\n WHO WE ARE \n\nAVI-SPL IS A DI...,"['Microsoft Office', 'Data analysis', 'Employe..."
...,...,...,...,...
1162,BUSINESS-DEVELOPMENT,Intern - Business Development,REQUIREMENTS\n\n DESCRIPTION & REQUIREMENTS \n...,"['MS Office Suite', 'PowerPoint', 'Excel', 're..."
1163,BUSINESS-DEVELOPMENT,Business Development Representative,IT'S FUN TO WORK IN A COMPANY WHERE PEOPLE TRU...,"['Collaboration', 'Communication', 'Problem So..."
1164,BUSINESS-DEVELOPMENT,Enterprise Business Development Representative...,JOIN OUR DYNAMIC AI TEAM AS AN ENTERPRISE BUSI...,"['Salesforce', 'data analysis', 'lead generati..."
1165,BUSINESS-DEVELOPMENT,Senior Director Business Development,ROOM 8 GROUP IS THE WORLD’S FASTEST GROWING ST...,"['business development', 'sales', 'corporate s..."
1166,BUSINESS-DEVELOPMENT,Global Business Development Partner - 100% Remote,EXCITING OPPORTUNITY: GLOBAL BUSINESS DEVELOPM...,"['strategic marketing', 'business development'..."

In [20]:
data.drop_duplicates(inplace=True)

In [ ]:
data.fillna('', inplace=True)

In [32]:
import re
data.columns = data.columns.str.strip().str.lower().str.replace(' ', '_')

In [33]:
data['job_description'] = data['job_description'].apply(lambda x: re.sub(r'\s+', ' ', x.strip().lower()))
data['job_skill_set'] = data['job_skill_set'].apply(lambda x: re.sub(r"['\[\]]", '', x.strip().lower()))

In [37]:
data['job_skill_set'] = data['job_skill_set'].apply(lambda x: x.split(', '))

In [ ]:
data['category'] = data['category'].str.strip().str.upper()

In [46]:
data['job_title'] = data['job_title'].apply(lambda x: re.sub(r'\(.*?\)', '', x).strip())

In [47]:
data.head()

,category,job_title,job_description,job_skill_set
0,HR,Sr Human Resource Generalist,summary the sr. hr generalist provides hr expe...,"[employee relations, talent acquisition, perfo..."
1,HR,Human Resources Manager,be part of a stellar team at ysb as the manage...,"[talent acquisition, employee performance mana..."
2,HR,Director of Human Resources,our client is a thriving organization offering...,"[human resources management, recruitment, empl..."
3,HR,Chief Human Resources Officer,job title: chief human resources officer (chro...,"[talent management, organizational development..."
4,HR,Human Resources Generalist,description who we are avi-spl is a digital en...,"[microsoft office, data analysis, employee onb..."

In [48]:
data.to_csv("data_pp.csv")